<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Bu Gun Hava Necedir ?
                </h1>
            </div>
        </div>
    </section>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong class="text-dark lead">{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    {% if 'response["cod"]!=200' %}
    <!-- !Eger atilan requestden donen response 200 deyilse yeni ugurlu bir emeliyyat olmayibsa xeta versin -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong class="text-dark lead">Axtarisa Uygun Seher Adi Tapilmadi</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


    <div class="col-md-4 container mt-4">
        <div class="card mb-4">
            <div class="card-header">
                <h5>Hava Durumu Elave Et</h5>
            </div>
            <div class="card-body">
                <div class="input-group" style="padding-left: 130px;">


                    <form method="POST">
                        {% csrf_token %}
                        {{form.name}}
                        <span class="input-group-btn" style="position: relative;left:210px;bottom:38px;">
                            <button type="submit" class="btn btn-warning">
                                Axtar
                            </button>
                        </span>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <section class="section">
        <section class="vh-100">
            <div class="container py-5">
                {% for hava_durumu in weather_data %}
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-8 col-lg-6 col-xl-4">

                        <div class="card" style="color: #4B515D; border-radius: 35px;">
                            <div class="card-body p-4">

                                <div class="d-flex">
                                    <h6 class="flex-grow-1">{{hava_durumu.city}}</h6>
                                    <!-- !Djangoda dictonaryden deyer cekende get veya [''] icinde cagirmag formalari islemir yalniz noqte ile hemin listedeki deyere ulasmag mumkundur -->
                                    <h6>TimeZone: &nbsp;<span class="text-muted"
                                            style="color:steelblue !important">{{hava_durumu.timezone}}</span></h6>
                                </div>

                                <div class="d-flex flex-column text-center mt-5 mb-4">
                                    <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">
                                        {{hava_durumu.temperature}} °C</h6>
                                    <span class="small text-capitalize lead"
                                        style="color: #868B94;">{{hava_durumu.description}}</span>
                                    <!-- !Burdaki description key dir ve sayta request atanda biz gonderidyimiz keye gore bize bir value qaytaracag -->
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1" style="font-size: 1rem;">
                                        <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span
                                                class="ms-1">Kulek Sureti : {{hava_durumu.speed}} km/h </span></div>
                                        <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span
                                                class="ms-1"> Rutubet : {{hava_durumu.humidity}} </span></div>
                                        <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span
                                                class="ms-1"> Teyziq: {{hava_durumu.pressure}} </span></div>
                                    </div>
                                    <div>
                                        <img src="http://openweathermap.org/img/w/{{cityweather.icon}}.png"
                                            width="100px" alt="">
                                    </div>

                                </div>

                                {% if uzunlug == 1 %}
                                
                                <!-- yeni hemin nameli seheri sil databaseden gelen -->
                                {% else %}
                                    <a class="btn btn-danger btn-block mt-1"
                                    href="{% url 'delete_city' hava_durumu.city %}">Sil</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                {% endfor %}

            </div>
        </section>
    </section>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
</script>

</html>